body {
  background-image: linear-gradient(to right, #606c88, #3f4c6b);
  color: white;
  text-align: center;
}
.wrapper {
  width: fit-content;
  margin: auto;
}
.hint-div {
  display: flex;
  color: chartreuse;
}
.hint-btn,
.reset-btn,
.notif-btn {
  cursor: pointer;
}
.reset-btn {
  margin-left: auto;
}
.alpha {
  width: 2rem;
  height: 2rem;
  background: #ffe5b4;
  border: none;
  border-radius: 4px;
  margin: 3px;
  cursor: pointer;
}
.alpha:hover {
  background-color: #e75480;
  border: none;
}
.disabled {
  pointer-events: none;
  background-color: darkgray;
}

.word-div {
  display: inline-flex;
}
.word {
  margin-right: 30px;
}

.notif {
  position: absolute;
  top: 20%;
  left: 15%;
  transform: translate(60%, 60%);
  background: burlywood;
  width: 500px;
  padding: 20px 10px;
  border-radius: 4px;
}
.hidden {
  display: none;
}
#hint-txt {
  display: none;
}
